[Unit]
Description=SmartFrame MQTT Orchestrator Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIRECTORY}}
# Graphical interfaces often require targeting DISPLAY=:0 (X11)
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/{{USER}}/.Xauthority
ExecStart={{WORKING_DIRECTORY}}/.venv/bin/python3 main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
